

@media (min-width: 320px) {
    .main{
        width: 100%;
        height: auto;
        display: grid;
    } 
    
    .main-article1 {
        width: 100%;
        margin: 30px;
        margin-top: 10%;
        margin-left: 0;
        background-color: $white;
        padding-left: 10%;
        padding-top: 5%;
        h1{
            font-family: $oldstd;
            font-size: $xxx-large;
            font-weight: $bold;
            color: $smoky-black;
            margin-bottom: 10px;
            margin-right: 20%;
            margin-top: 5%;
        }
        p{
            font-family: $raleway;
            font-weight: $regular;
            font-size: $small;
            color: $granite-gray;
            text-align: left;
            margin-top: 10px;
            width: 80%;
        }
    }
    
    .main-article2 {
        width: 100%;
        height: 200px;
        margin: 0;
        background-color: $smoky-black;
        padding-top: 1%;
        position: relative;
        display: grid;
        h3{
            color: $white;
            font-size: $xx-large;
            font-weight: $regular;
            margin-left: 10%;
            margin-bottom: 0;
        }
        h4 {
            color: $white;
            font-size: $medium;
            font-weight: $regular;
            margin-left: 10%;
            margin-bottom: 0;
            margin-top: 10;
        }
    
        .main-article2__subscription {
            background-color: $white;
            font-family: $oldstd;
            font-weight: $bold;
            position: absolute;
            width: 100%;
            text-align: center;
            
        }
    }
    
    .main2 {
        order:-1;
       height: 300px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .main{
        width: 100%;
        height: auto;
        display: grid;
    } 
    
    .main-article1 {
        width: 100%;
        margin: 30px;
        margin-top: 40%;
        margin-left: 0;
        background-color: $white;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 10%;
        h1{
            font-family: $oldstd;
            font-size: $xxx-large;
            font-weight: $bold;
            color: $smoky-black;
            margin-bottom: 10px;
            margin-right: 20%;
            margin-top: 5%;
        }
        p{
            font-family: $raleway;
            font-weight: $regular;
            font-size: $small;
            color: $granite-gray;
            text-align: left;
            margin-top: 10px;
            width: 80%;
        }
    }
    
    .main-article2 {
        width: 100%;
        height: 200px;
        margin: 0;
        background-color: $smoky-black;
        padding-top: 1%;
        position: relative;
        display: grid;
        h3{
            color: $white;
            font-size: $xx-large;
            font-weight: $regular;
            margin-left: 10%;
            margin-bottom: 0;
        }
        h4 {
            color: $white;
            font-size: $medium;
            font-weight: $regular;
            margin-left: 10%;
            margin-bottom: 0;
            margin-top: 10;
        }
    
        .main-article2__subscription {
            background-color: $white;
            font-family: $oldstd;
            font-weight: $bold;
            position: absolute;
            width: 100%;
            text-align: center;
            
        }
    }
    
  

    .main2 {
        order:-1;
       height: 200px;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0;
    }

}

@media (min-width: 992px){

    .main{
        width: 100%;
        height: auto;
        display: grid; 
        grid-template-columns: 40% 60%; 
    } 
    
    .main1 {
        order: -2;
    }
    .main-article1 {
        width: 100%;
        margin: 30px;
        margin-top: 10%;
        margin-left: 10%;
        h1{
            font-family: $oldstd;
            font-size: $xxx-large;
            font-weight: $bold;
            color: $smoky-black;
            margin-bottom: 10px;
            margin-right: 20%;
            margin-top: 5%;
        }
        p{
            font-family: $raleway;
            font-weight: $regular;
            font-size: $small;
            color: $granite-gray;
            text-align: left;
            margin-top: 10px;
            width: 60%;
        }
    }
    
    .main-article2 {
        width: 100%;
        height: 200px;
        margin: 0;
        background-color: $smoky-black;
        padding-top: 1%;
        position: relative;
        display: grid;
        h3{
            color: $white;
            font-size: $xx-large;
            font-weight: $regular;
            margin-left: 10%;
            margin-bottom: 0;
        }
        h4 {
            color: $white;
            font-size: $medium;
            font-weight: $regular;
            margin-left: 10%;
            margin-bottom: 0;
            margin-top: 10;
        }
    
        .main-article2__subscription {
            background-color: $white;
            font-family: $oldstd;
            font-weight: $bold;
            position: absolute;
            width: 100%;
            text-align: center;
            
        }
    }
    
    img {
        width: 100%;
        height: auto;
    }
    }